* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #fff;
}

body {
  background-color: #3daaf6;
  color: white;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}
button {
  border: none;
  background-color: #28d2d1;
  color: white;
  width: 77%;
  padding: 20px;
}
h1 {
  font-size: 35px;
  text-transform: uppercase;
  margin: 10px 0;
}
h1+p {
  font-size: 20px;
  max-width: 400px;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form {
  display: flex;
  justify-content: center;
}
.personalInfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
input {
  padding: 20px;
  font-size: 15px;
}
.form-element > input {
  border-radius: 5px;
}
.form-element-radio-chek {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-element-radio {
  border: 1px solid #fff;
  margin-top: 10px;
  display: flex;
  padding: 15px;
  margin-bottom: 10px;
  width: 460px;
  gap: 5px;
}
p {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 10px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}
.form-element-chek {
  width: 450px;
  margin: auto;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
}
